@import '../../../../node_modules/normalize.css/normalize.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
     background-color: blanchedalmond;
    margin: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
}
.header__greeting {
    margin: 0;
}
.header__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
}
.header__home-button {
    cursor: pointer;
    /*height: 2em;*/
    width: 65px;
    height: 32px;
    margin-right: 6px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border-color: blue;

}
.header__home-button:active,
.header__home-button:hover,
.header__home-button:focus {
    border-radius: 5px;
    background-color: white;
    color: blue;
    border-color: blue;
   
}
.main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.main__account-actions {
    width: 50%;
    flex-grow: 1;
    /*background-color: aqua;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-actions__form {
    margin: auto;
    padding: 7px;
    width: 500px;
    height: 27px;
}
.account-action__label {
    padding-left: 11px;
    font-size: 18px;
    width: 350px;
    height: 25px;
}
.account-action__submit-button {
    cursor: pointer;
    /*height: 2em;*/
    width: 60px;
    height: 27px;
    margin-left: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border-color: coral;
}
.account-action__submit-button:active,
.account-action__submit-button:hover,
.account-action__submit-button:focus {
    border-radius: 5px;
    background-color: white;
    color: black;
    border-color: coral;
}


.main__account-info {
    width: 50%;
    flex-grow: 1;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-content: center;
}
.account-info__container {
    margin-top: 225px;
    border: 2px solid #597066;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #c4cccf;
}
.transaction {
    display: flex;
    font-size: 18px;
    color: #1f4d32;
}
.replenishment-value {
    justify-content: center;
    color: #8f0422;
    font-size: 18px;
}

.hed-transactions {
    color: #1f4d32;

}


