<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Your account</title>

    <link href="../static/css/account-service.css" th:href="@{/css/account-service.css}" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <header class="header">
            <div class="header__title-wrapper">
            <h1 class="header__title"><p class="header__greeting">Hello, <span  th:text="${session.currentUser.getUsername()}">
            </span> ! Welcome to Your Account Service!</p></h1>
        </div>
          <button class="header__home-button" type="button" onClick='location.href="/home"'>Home</button>
        </header>
        <main class="main">
            <div class="main__account-actions">
                <div class="account-info__container">
                    <form class="account-actions__form" method="post" action ="/addMoneyToAccount/{accountId}">
                        <input name="accountId" type="hidden" th:value="${account.getAccountId()}" >
                        <label class="account-action__label"> Add Money to Your Account:<br>
<!--                           <input id="amount" name="amount" type="number"  th:value="${account.getAmount()}">-->
                           <input id="amount" name="amount" type="number">
                        </label>
                        <button id="submitButton" class="account-action__submit-button" type="submit">Submit</button>
                     </form>
                </div>
            </div>
            <div class="main__account-info">
                <div class="account-info__container">
                <h2><p>Account Balance: $ <span th:text="${account.getAmount()}"></span></p></h2>
                </div>
            </div>
            
        </main>
    </div>
<script type="text/javascript" src="./scripts/accountservice.js"></script>
</body>
</html>