<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
  <meta charset="UTF-8">
  <title> Car store </title>
  <link href="../static/css/carsstore.css" th:href="@{/css/carsstore.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <header class="header">
    <h1 class="header__title">
<!--      <span th:text="${session.currentUser.getUsername()}"></span>-->
      , Welcome to the Car Store! </h1>
    <div class="bottom__select-model">
      <form id="carmodelform" action="/cars/{modell}" method="post">
        <label>
          <select  class="bottom__select-model__choice" name="modell">
            <option value="сhoice of models">Choice of models</option>
            <div class="bottom__select-model__options">
              <option  th:each="modell : ${models}"
                       th:value="${modell}" th:text="${modell}">
              </option>
            </div>
          </select>
        </label>

        <input type="submit" value="Search"/>

      </form>
      <br><br>

    </div>
  </header>
  <main class="main">
    <ul class="car-list">
      <li class="car-list__item" th:each="car : ${cars}">
        <div class="car-list-item__car-mark" th:text="${car.getModell()}">modell</div>
        <form class="car-list-item__form" action="/mycar/{carId}" method="post">
          <input type="hidden" id="carId" name="carId" th:value="${car.getCarId()}">
          <button class="car-list__button" type="submit">
            <img class="car-list__img" th:src="${car.getImageName()}" alt="th:text='${car.getMark()}'">
          </button>
          <div class="car-list-item__info">
            <div th:text="'Model: ' + ${car.getMark()}">mark</div>
            <div th:text="'Year: ' + ${car.getBuildYear()}">buildYear</div>
            <div th:text="'Price: $' + ${car.getPrice()}">price</div>
          </div>
        </form>
      </li>
    </ul>


    <ul class="car-list car-list__selected" >
      <li class="car-list__item car-list-item__selected" th:each="car : ${filteredCars}">
        <div class="car-list-item__car-mark" th:text="${car.getModell()}">modell</div>
        <form class="car-list-item__form" action="/mycar/{carId}" method="post">
          <input type="hidden"  name="carId" th:value="${car.getCarId()}">
          <button class="car-list__button" type="submit">
            <img class="car-list__img" th:src="${car.getImageName()}" alt="th:text='${car.getMark()}'">
          </button>
          <div class="car-list-item__info">
            <div th:text="'Model: ' + ${car.getMark()}">mark</div>
            <div th:text="'Year: ' + ${car.getBuildYear()}">buildYear</div>
            <div th:text="'Price: $' + ${car.getPrice()}">price</div>
          </div>
        </form>
      </li>
    </ul>

<!--    <div class="bottom__selectedCars">-->

<!--      <tr th:each="car : ${filteredCars}">-->

<!--       <div class="bottom__select-model__info">-->
<!--        <div>Mark:<span th:text="${car.modell}"></span></div>-->
<!--         <div>Modell:<span th:text="${car.getMark()}"></span></div>-->
<!--          <div><span th:text="${car.getBuildYear()}">BuildYear </span></div>-->
<!--       </div>-->
<!--        <div class="bottom__select-model__img">-->
<!--        <form action="/mycar/{carId}" method="post">-->
<!--          <input type="hidden"  name="carId" th:value="${car.getCarId()}">-->
<!--          <button type="submit" >-->
<!--          <img style="background-color: black; padding: 0" th:src="${car.getImageName()}" th:width="250" height="150">-->
<!--          </button>-->
<!--        </form>-->
<!--        </div>-->
<!--      </tr>-->
<!--    </div>-->

  </main>





    <div class="bottom">
        <button class="home_button" type="button" onClick='location.href="/home"'>Home</button>
  </div>
  <br><br>
</div>
</body>
</html>