<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> Car store </title>
  <link href="../static/css/carsstore.css" th:href="@{/css/carsstore.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <header class="header">
    <h1 class="header__title">Welcome to the car store! </h1>
  </header>
  <!--    <span th:text="${currentUser.getName()}"></span>-->
  <!--    <span style="color: blueviolet" th:text="${'Welcome to car store' + ${user.getName()} }"></span>-->
  <!--    <p th:text="${currentUser.getName()}">Nothing</p>-->
  <main class="main">
    <ul class="car-list">
      <li class="car-list__item" th:each="car : ${cars}">
        <!--                    <span th:text="${car.getCarId()}">carId</span>-->

        <div class="car-list-item__car-mark" th:text="${car.getModell()}">modell</div>
        <form class="car-list-item__form" action="/mycar/{carId}" method="post">
          <input type="hidden" id="carId" name="carId" th:value="${car.getCarId()}">
          <button class="car-list__button" type="submit">
            <img class="car-list__img" th:src="${car.getImageName()}" alt="th:text='${car.getMark()}'">
          </button>
          <div class="car-list-item__info">
            <div th:text="'Model: ' + ${car.getMark()}">mark</div>
            <div th:text="'Year: ' + ${car.getBuildYear()}">buildYear</div>
            <div th:text="'Price: $' + ${car.getPrice()}">price</div>
          </div>
        </form>

      </li>
    </ul>
    <!--        <tr th:each="car : ${cars}">-->
    <!--            <div class="cars">-->

    <!--            <td><span th:text="${car.getCarId()}">carId </span></td>-->
    <!--            <td><span th:text="${car.getMark()}">mark </span></td>-->
    <!--            <td><span th:text="${car.getModell()}">modell </span></td>-->
    <!--            <td><span th:text="${car.getBuildYear()}">buildYear </span></td>-->
    <!--                <td><span th:text="${car.getPrice()}">price </span></td>-->

    <!--            <form action="/mycar/{carId}" method="post">-->
    <!--                <input type="hidden" id="carId" name="carId" th:value="${car.getCarId()}">-->
    <!--             <td><button type="submit">-->
    <!--                 <img th:src="${car.getImageName()}" alt="Example" th:width="120" height="80">-->
    <!--             </button>-->
    <!--             </td>-->
    <!--            </form>-->
    <!--</div>-->
    <!--        </tr>-->
  </main>

  <!--    <br><br><br><br><br><br>-->
  <div class="select-model">
    <form action="/carmodels">
      <input type="button" value="Select cars by models" onClick='location.href="/carmodels"'>
    </form>

    <br><br>
    <!--    </tr>-->
    <!--<a href="/carmodels"><input type="button" value="Select cars by modell" name= button onClick="Selection"/></a><br>-->

    <form action="/home">
      <input type="button" value="Home" onClick='location.href="/home"'>
    </form><br>
  </div>
</div>
</body>
</html>