<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/myForm.css"/>
    <link rel="stylesheet" href="css/app.css"/>

    <style type="text/css">
        body{
            background-color: #6D84F8;
        }
    </style>
</head>
<body>

<div class="myForm">
    <h1>Please login to proceed</h1>
    <form  method = "post" action ="/checkLogin">
        Email: <label>
        <input type="text" name="email"/>
    </label>
        <br>
        Password: <label>
        <input type="text" name="password"/>
    </label>

        <input type="submit"/>
    </form>
</div>
<br>
<form>
    <input type="button" value="Home" onClick='location.href="/home"'>
</form>

</body>
</html>